<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>13506488079-76bhsd5j45k2tvj0r6a5t07ijfco060i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.13506488079-76bhsd5j45k2tvj0r6a5t07ijfco060i</string>
	<key>API_KEY</key>
	<string>AIzaSyD13gftYEtVFpKYqdA2RjMhtlIwQ9F8zxA</string>
	<key>GCM_SENDER_ID</key>
	<string>13506488079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>wisawa.Myday</string>
	<key>PROJECT_ID</key>
	<string>myday-project</string>
	<key>STORAGE_BUCKET</key>
	<string>myday-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:13506488079:ios:b7fb34475283579b57c07a</string>
</dict>
</plist>